body{
	background: url(../images/bg.jpg) repeat;
	font-family: Arial;
	color: #888;
	font-size: 12px;
	line-height: 22px;
}
div{
	margin-bottom: 10px;
}
input[type=reset]{
	width: 150px;
	height: 40px;
	display: block;
	text-indent: -5000px;
	background: url(../images/reset_btn.png) no-repeat;
	border: none;
	cursor: pointer;
	margin-top: 30px;
}

/*Hide the input checkbox*/
.customCBoxUI{
	position: absolute;
	left: -5000px;
	top: -5000px;
}

/*Really simple style here*/
label.Default01,label.Default02{
	display: block;
	height:22px;
	text-indent: 50px;
	width: 200px;
}
label.Default01{
	background: url(../images/checkbox_bg.png) no-repeat 0 -40px;
}
label.Default01.CheckBoxUIActive{
	background: url(../images/checkbox_bg.png) no-repeat 0 0;
}
label.Default02{
	background: url(../images/checkbox_bg.png) no-repeat 0 -120px;
}
label.Default02.CheckBoxUIActive{
	background: url(../images/checkbox_bg.png) no-repeat 0 -80px;
}